<h2>Edit Booking Request</h2>

<% if params[:booking_request].nil? %>
  <form action="/teachers/<%= params[:id]%>/booking_requests" method="post">
    <select name="booking_request">
      <% if @booking_requests.empty? %>
        <option>No Requests Found</option> 
      <% else %>
        <% @booking_requests.each do |br| %>
          <option value="<%= br.id %>"><%= br.student.name + "'s lesson with " + br.teacher.name + " at " + br.lesson_time.strftime("%I:%M %p on %A %b %e") %></option>
        <% end %>
      <% end %>
    </select>
    
    <input type="submit" value="Edit Booking Request">
  </form>
<!-- Form to display if user has selected a booking request to edit-->
<% else %>
<form id="edit_br" action="/teachers/<%= params[:id] %>/booking_requests/<%= @booking_request.id %>" method="post">
  <p>
    <label for="booking_request[student]">Student: </label>
    <select name="booking_request[student]">
      <% @students.each do |student| %>
        <option value="<%= student.id %>" <%= 'selected' if @booking_request.student == student %>><%= student.name %></option>
      <% end %>
    </select>
  </p>
  <p>
    <label for="booking_request[teacher]">Teacher: </label>
    <select name="booking_request[teacher]">
      <% @teachers.each do |teacher| %>
        <option value="<%= teacher.id %>" <%= 'selected' if @booking_request.teacher == teacher %>><%= teacher.name %></option>
      <% end %>
    </select>
  </p>
  <p>
    <label for="booking_request[lesson_time][date]">Date: </label>  
    <input type="date" name="booking_request[lesson_time][date]" value="<%= @booking_request.lesson_time.strftime('%Y-%m-%d') %>">
  </p>
  <p>
    <label for="booking_request[lesson_time][hour]">Time: </label>
    <select name="booking_request[lesson_time][hour]">
      <% @time_choices.each do |k,time| %>
       <option value="<%= k %>"<%= ' selected' if @booking_request.lesson_time.strftime('%k').to_i == k %>><%= time %></option>
      <% end %>
    </select> :
    <select name="booking_request[lesson_time][minutes]">
      <option value="00"<%= ' selected' if @booking_request.lesson_time.strftime('%M') == "00" %>>00</option>
      <% (1..3).each do |quarter| %>
        <option value="<%= quarter * 15 %>"<%= ' selected' if @booking_request.lesson_time.strftime('%M') == (quarter * 15).to_s %>><%= quarter * 15 %></option>
      <% end %>
    </select>
    <select name="booking_request[lesson_time][am-pm]">
      <option value="AM"<%= ' selected' if @booking_request.lesson_time.strftime('%p') == "AM" %>>AM</option>
      <option value="PM"<%= ' selected' if @booking_request.lesson_time.strftime('%p') == "PM" %>>PM</option>
    </select>
  </p>
  <p>
    <label for="booking_request[location]">Location: </label>
    <select name="booking_request[location]">
      <% @locations.each do |location| %>
        <option value="<%= location.id %>"<%= ' selected' if @booking_request.location == location %>><%= location.name %></option>
      <% end %>
    </select>
  </p>
  <p><input type="submit" value="Edit Booking Request"></p>
</form>
<% end %>
