<div class="container">
  <h2>Booking Request</h2>
  <ul>
    <li><span>Student: </span><a href="/students/<%= @booking_request.student.id %>"><%= @booking_request.student.name %></a></li>
    <li><span>Lesson Time: </span><a href="/booking_requests/<%= @booking_request.id %>"><%= @booking_request.lesson_time.strftime("%A %b %e, %I:%M %p") %></a></li>
    <li><span>Teacher: </span><a href="/teachers/<%= @booking_request.teacher.id %>"><%= @booking_request.teacher.name %></a></li>
    <li><span>Location: </span><%= @booking_request.location.name %></li>
  </ul>
  <p><a href="/booking_requests/<%= params[:id] %>/edit">Edit Booking Request</a></p>
  
</div>