<div class="container">
  <h2><%= @student.name %>'s Lessons</h2>
  <!-- Shows dates of the current week being displayed-->
  <h5>Week of <%= @date.strftime("%b %e") %> to <%= (@date + 7).strftime("%b %e") %></h5>
  <div class="time">
      <% (8..20).each do |hour| %>
          <p><%= @times[hour] %></p>
      <% end %>
  </div>
  <% (1..7).each do |day| %>
  <!-- Starts loop on the most recent Monday -->
  <% today = @date + (day - 1) %>
  <div class="day-container">
    <h3><%= today.strftime("%A %e") %></h3>
    <div class="day <%= today.strftime("%a") %>">
      <% 48.times do %>
        <div class="quarter"></div>
      <% end %>
      <!-- Selects today's lessons and adds them to today's day container -->
      <% @student.lessons.select { |l| DateTime.parse(l.lesson_time.strftime('%A')) == today }.each do |lesson| %>
        <!-- Inserts a div for the lesson on the schedule at a distance from the top that corresponds to the time -->
        <a href="/lessons/<%= lesson.id %>"><div class="lesson" style="top: <%= ( (lesson.lesson_time - today).floor/3600 - 8 ) * 52 %>px; height: <%= lesson.duration * 52/3600 %>px;"><%= lesson.student.name + ', ' if logged_in? && is_teacher? || is_admin? %><%= lesson.location.name %></div></a>
      <% end %>
    </div>
  </div>
  
  <% end %>
</div>

<% @student.lessons.each do |lesson| %>
    <p><%= lesson.lesson_time.strftime('%A %b %e') %></p>
<% end %>

<div class="container">
    <%= @date.strftime("%b %e") %>
</div>