<div class="container">
  <% if @student && @student.errors.any? %>
      <div id="error_explanation">
        <h2><%= @student.errors.count %> error(s) prevented this student from being saved</h2>
        <ul>
          <% @student.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <h2>Student Information</h2>
  <form action="/students" method="post">
    <p><label for="student[name]">Student Name: </label><input type="text" name="student[name]" <%= 'value="' + params[:student][:name] + '"' unless params[:student].nil? %>></p>
    <p><label for="student[email]">Email Address: </label><input type="text" name="student[email]" <%= 'value="' + params[:student][:email] + '"' unless params[:student].nil? %>></p>
    <p><label for="student[phone_number]">Phone Number: </label><input type="text" name="student[phone_number]" <%= 'value="' + params[:student][:phone_number] + '"' unless params[:student].nil? %>></p>
    <p><label for="student[contact_method]">Preferred Contact Method: </label>
    <select name="student[contact_method]">
      <option value="email"<%= ' selected' if params[:student][:contact_method] == "email" unless params[:student].nil? %>>Email</option>
      <option value="phone"<%= ' selected' if params[:student][:contact_method] == "phone" unless params[:student].nil? %>>Phone</option>
    </select></p>
    <p><input type="submit" value="Save My Info"></p>
  </form>
</div>