<div class="container">
  <% if is_student? && current_student = @student || is_parent? && current_parent.students.include?(@student) || is_teacher? && current_teacher.students.include?(@student) || is_admin? %>
    <h2><%= @student.name %></h2>
    <p><%= @student.email %></p>
    <p><%= @student.phone_number %></p>
    <p><%= @student.contact_method %></p>
    <p><a href="/students/<%= params[:id] %>/edit">Edit Student</a></p>
  <% end %>
  <% if @student.lessons.empty? %>
    <h2>Choose a Teacher</h2>
    <ul>
      <% @teachers.each do |teacher| %>
      <li><a href="/teachers/<%= teacher.id %>"><%= teacher.name %>, <%= teacher.instruments %></a></li>
      <% end %>
    </ul>
  <% else %>
    <h2><%= @student.name %>'s Lessons</h2>
    <ol>
    <% @student.lessons.each do |lesson| %>
    <li>
      <ul>
        <li><%= lesson.lesson_time.strftime("%A, %b %e %I:%M %p") %></li>
        <li><%= lesson.location.name %></li>
        <li>Teacher: <%= lesson.teacher.name %></li>
      </ul>
    </li>
    <% end %>
    </ol>
    
  <% end %>
  
</div>