<% if params[:edit_lesson].nil? %>
<h2>New Lesson</h2>
<form id="new_lesson" action="/teachers/<%= params[:id] %>/lessons" method="post">
  <p><label for="lesson[student]">Student: </label>  
    <select name="lesson[student]">
      <% @students.each do |student| %>
        <option value="<%= student.id %>"><%= student.name %></option>
      <% end %>
    </select>
  </p>
  <% if is_teacher? && current_teacher = Teacher.find(params[:id]) || is_parent? || is_admin? %>
  <p>Or Create a New Student:</p> 
    <label for="student[name]">Name: </label>
    <input type="text" name="student[name]">
  </p>
  <% end %>
  <p>
    <label for="lesson[teacher]">Teacher: </label>
    <select name="lesson[teacher]">
      <% @teachers.each do |teacher| %>
        <option value="<%= teacher.id %>"><%= teacher.name %></option>
      <% end %>
    </select>
  </p>
  <p>
    <label for="lesson[lesson_time][date]">Date: </label>
    <input type="date" name="lesson[lesson_time][date]" value="<%= DateTime.now.strftime('%Y-%m-%d') %>"></input>
  </p>
  <p>
    <label for="lesson[lesson_time][hour]">Time: </label>
    <select class="small" name="lesson[lesson_time][hour]">
      <% @time_choices.each do |k, time| %>
        <option value="<%= k %>"><%= time %></option>
      <% end %>
    </select> : 
    <select class="small" name="lesson[lesson_time][minutes]">
      <option value="00">00</option>
      <% (1..3).each do |quarter| %>
        <option value="<%= quarter * 15 %>"><%= quarter * 15 %></option>
      <% end %>
    </select>
    <select class="small" name="lesson[lesson_time][am-pm]">
      <option value="AM">AM</option>
      <option value="PM">PM</option>
    </select>
  </p>
  <p>
    <label for="lesson[duration]">Duration: </label>
    <select name="lesson[duration]">
      <option value="1800">30 minutes</option>
      <option value="2700">45 minutes</option>
      <option value="3600">1 hour</option>
      <option value="4500">1 hour & 15 minutes</option>
      <option value="5400">1 hour & 30 minutes</option>
    </select>
  </p>
  <p>
    <label for="lesson[location]">Location: </label>
    <select name="lesson[location]">
      <% @locations.each do |location| %>
        <option value="<%= location.id %>"><%= location.city %></option>
      <% end %>
    </select>
  </p>
  <p>Or Create a New Location</p>
  <p>
    <label for="location[city]">City: </label>
    <input type="text" name="location[city]">
  </p>
   <p><input type="submit" value="Create New Lesson"></p>
</form>
<% end %>