<div class="container">
  <h2><%= @teacher.name %></h2>
  <!-- Shows dates of the current week being displayed-->
  <h5>Week of <%= DateTime.now.in_time_zone("Pacific Time (US & Canada)").strftime("%b %e") %> to <%= (DateTime.now + 6).in_time_zone("Pacific Time (US & Canada)").strftime("%b %e") %></h5>
  <div class="time">
      <% (8..20).each do |hour| %>
          <p><%= @times[hour] %></p>
      <% end %>
  </div>
  <% (0..6).each do |day| %>
  <!-- Starts loop on the most recent Monday -->
  <% today = (DateTime.now + day) %>
  <div class="day-container">
    <h3><%= today.strftime("%A") %></h3>
    <p><%= today.strftime("%b %e") %></p>
    <div class="day <%= today.strftime("%a") %>">
      <% 48.times do %>
        <div class="quarter"></div>
      <% end %>
      <!-- Selects today's lessons and adds them to today's day container -->
      <% @teacher.lessons.select { |l| l.lesson_time.midnight == today.midnight }.each do |lesson| %>
        <!-- Inserts a div for the lesson on the schedule at a distance from the top that corresponds to the time -->
        <%= '<a href="/teachers/' +  params[:id].to_s + '/lessons/' + lesson.id.to_s + '/edit">' if is_student? && current_student.lessons.include?(lesson) || is_parent? && current_parent.lessons.include?(lesson) || is_teacher? && current_teacher = @teacher || is_admin? %>
          <div class="lesson" style="top: <%= ( (lesson.lesson_time - lesson.lesson_time.midnight)/3600 - 8 ) * 40 %>px; height: <%= lesson.duration * 40/3600 %>px;"><%= lesson.student.name + ', ' if logged_in? && is_teacher? || is_admin? %><%= lesson.location.city %></div>
        <%= '</a>' if is_student? && current_student.lessons.include?(lesson) || is_parent? && current_parent.lessons.include?(lesson) || is_teacher? && current_teacher = @teacher || is_admin? %>
      <% end %>
      
    </div>
  </div>
  
  <% end %>
  <% if logged_in? %>
    <!-- Shows errors if there are any -->
    <% if @lesson && @lesson.errors.any? %>
      <div id="error_explanation">
        <h2><%= @lesson.errors.count %> error(s) prevented this lesson from being saved</h2>
        <ul>
          <% @lesson.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <!-- Shows list of lessons and edit forms if the user is an admin or the current teacher -->
    <% if is_admin? || is_teacher? && current_teacher == Teacher.find(params[:id]) %>
      <%= erb :"lessons/edit" %>
      <div class="row">
        <div class="col-sm-6">
          <h2>Upcoming Lessons: </h2>
          <% @lessons.each do |lesson| %>
          <h3><%= lesson.student.name %></h3>
          <h4><%= lesson.lesson_time.strftime("%a, %b %e, %Y %l:%M %p") %></h4>
          <% end %>
          
        </div>
        <div class="col-sm-6">
          <%= erb :"lessons/new" %>
          
        </div>
      </div>
    <% end %>
    <!-- Shows a new and edit form to  -->
    <% if is_student? %>
      <div class="row">
        <div class="col-sm-6">
          <%= erb :"lessons/new" %>
        </div>
        <div class="col-sm-6">
          <%= erb :"lessons/edit" %>
        </div>
      </div>
      
    <% end %>
  <% end %>
  
</div>